@{
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
    ViewData["Title"] ="pageNotFoundError";
}

<div class="container-fluid vw-100 vh-100 d-flex align-items-center" style="background-color: #caf2ff;">
        <div class="row d-flex align-items-center col-12">
          
            <div class="col-12 text-primary d-flex justify-content-center fs-2 fw-bold" style="font-size: 200px;">
                Error
            </div>
            <div class="col-12 d-flex justify-content-center" style="font-size: 30px;">
                Something went Wrong
            </div>
            <div class="col-12 d-flex justify-content-center text-primary mt-4">
                Oops, text-primary again later!
            </div>
        </div>
    </div>